

body {
  font-family: Arial, Helvetica, sans-serif;
  background:#000000!important;
  height:100vh;
}
.MuiAppBar-root{
  background:#000000!important;
  color:aliceblue;
}
.gradient{
  width: 100vw;
  height:100vh;
  background: #1E387B;
  background: radial-gradient(at center bottom, #194fd8, #010101);
  opacity: 0.3;
  position:fixed;
  bottom:0;
  left:0;
  z-index:-1;
}

